*{
    box-sizing: border-box;
}

body{
    padding: 0%;
    margin: 0%;
    /* box-sizing: border-box; */
    background-color: #e6e6e6;
}

h4{
    margin: 0;
}

header{
    background-color: white;
    height: 60px;
    box-shadow: 10px 5px #e6e6e6;
}

main{
    display: flex ;
    flex-direction: wrap;
    margin: 2%;
}

.mainView{
    box-sizing: border-box;
    background-color: white;
    padding: 3%;
    /* margin: 15px; */
}

 .cusInformation{

    box-sizing: border-box;
    /* height: 8%;
    width: 10%; */
    background-color: white;
} 

.task{

    box-sizing: border-box;
    /* height: 8%;
    width: 10%; */
    background-color: white;

}

.achievment{

    box-sizing: border-box;
    /* height: 8%;
    width: 10%; */
    background-color: white;

}

.mainNav{
 padding: inherit;
}

.mainNav > a{
    padding: 1%;
    text-decoration: none;
    color: #696969;
}


.headerNav{
    padding: 20px;
}

.headerNav a{
    position: relative;
    left: 50%;
    padding:1.8% 0.8% 0.8% 0.8%; 
    text-decoration: none;
    color: #595959;
}

.leftPan{
    display: flex ;
    flex: 30%;
    flex-direction: column;
    /* padding: 2%; */
    background-color: #e6e6e6;
    /* margin: 1% */
}
.leftPan > div{
    width: auto;
    margin: 10px;
    text-align: center;
    /* line-height: 75px; */
}

.rightPan{

    display: flex ;
    flex: 70%;
    flex-direction: column;
    /* padding: 2%; */
    background-color: #e6e6e6;
    margin: 1%
}

.rightImg{
    height:10% ;
    width: 12%;
    border-radius: 2pt;
    padding: 0px 10px 60px 10px;
}


.signUpBtn{
    background-color: #66ff99;
}

.wrapFlex{
    display: flex ;
    flex-direction: row;
}

.columnFlex{
    display: flex !important;
    flex-direction: column !important;
    
}

.columnFlex > p{
    font-size: 12px;    
}

#add-Task{
    position: relative;
    left: 65%;
    color: #0000CD;
    background-color: white;
    font-size: 10px;
    border: 1px solid #0000CD;
}

#timeLine{
    color: white;
    background-color: #80aaff;
    border-radius: 4pt;
}
